.score-span {
  font-size: medium;
  margin: 0px;
}
.score-value-span {
  font-size: xx-large;
  margin: 0px;
}
.close-icon {
  scale: 200%;
  cursor: pointer;
}
.place-end {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
